
 @font-face {
  font-family: 'WC Mano Negra Bta';
  font-style: normal;
  font-weight: 400;
  src: local('WC Mano Negra Bta'), local('WCManoNegraBta-Regular'),
      url(http://www.allfont.es/cache/fonts/wc-mano-negra-bta_da81fee61ee1a5d49f8bc5eabb2f1807.woff) format('woff'),
      url(http://www.allfont.es/cache/fonts/wc-mano-negra-bta_da81fee61ee1a5d49f8bc5eabb2f1807.ttf) format('truetype');
}
 @font-face {
  font-family: 'Aleo Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Aleo Regular'), local('Aleo-Regular'),
      url(http://allfont.ru/cache/fonts/aleo-regular_4035e8192f22003da55d364e2690c72a.woff) format('woff'),
      url(http://allfont.ru/cache/fonts/aleo-regular_4035e8192f22003da55d364e2690c72a.ttf) format('truetype');
}
/* RESET START */
*{
	box-sizing: border-box;
}
body{
	margin: 0;
	color: #fff;
	font: 400 16px/1 'Aleo Regular', sans-serif;
}
h1, h2, h3, h4, h5, h6, p{
	margin: 0;
	font-weight: normal;
}
a{
	color: inherit;
	text-decoration: none;
}
a:hover, a:active, a:focus{
	text-decoration: none;
}
ul, ol{
	list-style: none;
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
textarea{
	resize: vertical;
}
/* RESET END */

/* FLEX UTILITY */

/* ===== display ===== */
.d-flex{
  display: flex;
}

/* ===== direction ===== */
.flex-row{
  flex-direction: row;
}
.flex-row-reverse{
  flex-direction: row-reverse;
}
.flex-column{
  flex-direction: column;
}
.flex-column-reverse{
  flex-direction: column-reverse;
}

/* ===== wrap ===== */
.flex-wrap{
  flex-wrap: wrap;
}
.flex-nowrap{
  flex-wrap: nowrap;
}
/* ===== justify ===== */
.justify-content-start{
  justify-content: flex-start;
}
.justify-content-end{
  justify-content: flex-end;
}
.justify-content-center{
  justify-content: center;
}
.justify-content-between{
  justify-content: space-between;
}
.justify-content-around{
  justify-content: space-around;
}

/* ===== align-items ===== */
.align-items-start{
  align-items: flex-start;
}
.align-items-end{
  align-items: flex-end;
}
.align-items-center{
  align-items: center;
}
.align-items-baseline{
  align-items: baseline;
}
.align-items-stretch{
  align-items: stretch;
}

/* ===== align-content ===== */
.align-content-start{
  align-content: flex-start;
}
.align-content-end{
  align-content: flex-end;
}
.align-content-center{
  align-content: center;
}
.align-content-between{
  align-content: space-between;
}
.align-content-around{
  align-content: space-around;
}

/* ===== align-self ===== */
.align-self-start{
  align-self: flex-start;
}
.align-self-end{
  align-self: flex-end;
}
.align-self-center{
  align-self: center;
}
.align-self-stretch{
  align-self: stretch;
}
.align-self-baseline{
  align-self: baseline;
}

/* ===== order ===== */
.oreder-1{
  order: 1;
}
.oreder-2{
  order: 2;
}
.oreder-3{
  order: 3;
}
.oreder-4{
  order: 4;
}
.oreder-5{
  order: 5;
}
.oreder-6{
  order: 6;
}
.oreder-7{
  order: 7;
}
.oreder-8{
  order: 8;
}
.oreder-9{
  order: 9;
}
.oreder-10{
  order: 10;
}
.oreder-11{
  order: 11;
}
.oreder-12{
  order: 12;
}
/* FLEX UTILITY END */

/* ===== DEAFAULT CLASSES START */
.container{
  width: 1100px;
  margin: 0 auto;
}
/* ===== DEAFAULT CLASSES END */

/* CUSTOM STYLE START */

/* ===== HEADER START ===== */
.header{
  padding: 41px 0;
  background-color: #fff;
  position: absolute;
  z-index: 99;
  right: 0;
  left: 0;
}
.header .header-nav{
  line-height: 30px;
}
.header .header-nav a{
  color: #3b3b3b;
}
.header .header-nav a + a{
  margin-left: 48px;
}
/* ===== HEADER END ===== */

/* ===== MAIN START ===== */
/* ===== INNER START ===== */
.inner{
  height: 100vh;
  background: url("../img/inner.jpg") no-repeat center / cover;
  padding-top: 113px;
}
.inner-content{
  height: 100%;
}
.inner-content .title span{
  font-family: 'WC Mano Negra Bta';
  font-size: 100px;
}
.inner-content .slogan{
  margin-top: 20px;
}
.inner-content .slogan span{
  letter-spacing: .04em;  
}
.inner-content .slogan .dash-left,
.dash-right{
  text-decoration: line-through;
}
.inner-content .slogan .dash-left{
  margin-right: 27px;
}
.inner-content .slogan .dash-right{
  margin-left: 27px;
}
/* ===== INNER END ===== */

/* ===== MENU ===== */
.menu{
  border-top: 3px solid #f34949;
  position: absolute;
  left: 0;
  right: 0;
}
.menu .logo-menu{
  margin-bottom: 80px;
}
.menu .logo-menu span{
  top: 20px;
  position: absolute;
  font-size: 20px;
  font-weight: bold;
}
/* ===== MENU END ===== */

/* ===== MAIN END ===== */

/* CUSTOM STYLE END */